<header>
    <form (submit)="onSubmit($event)">
        <h4>Add Transaction</h4>
        $<input type="number" name="transactionAmountDollars" id="transactionAmountDollars" min="0" max="9999">.<input type="number" name="transactionAmountCents" id="transactionAmount" min="0" max="99">
        
        <div>
            <label for="expense">Expense</label>
            <input type="radio" name="transactionType" id="expense" value="expense" checked>
            <label for="income">Income</label>
            <input type="radio" name="transactionType" id="income" value="income">
        </div>
        <div>
            <button type="submit">Add</button>
        </div>

    </form>
    
</header>