* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #212121; */
  background-color: #fff;
  color: black;overflow-y: scroll;
  /* color: white; */ 
}

.App {
  display: flex;
  flex-direction: column;
  
}

.pagination-ui {
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar {
  height: auto;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  z-index: 2;
  width: 100%;
  display: flex;
}

.navbar > * {
  flex: 1;
  align-self: center;
  justify-content: center;
}

.content {
  flex: 1;
  font-size: 20px;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .content {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    width: 75%;
  }

 
}

.nav-ul {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
}

.nav-ul > * {
  flex: 1;
}

.nav-li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  filter: grayscale(5%);
}

.nav-li > * {
  justify-content: center;
  align-self: center;
  cursor:pointer; 
}

.nav-li:hover {
  opacity: 50%
}

.link {
  text-decoration:none; 
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:visited {color:black}




.link:hover {
  
  color: grey;
}

.link > * {
  margin: 5px;
}

.nav-icon {
  width: 32px;
  height: 32px;
  
}

.nav-icon:hover {
  
}

.transaction-item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.transaction-item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.transaction-item > * {
  flex: 1;
}

.add-transaction-form {
  display:flex;
  flex-direction: row;

}

.add-transaction-form > * {

  flex: 1;
}

.show-hide-button {
  width: 25px;

  display: flex;
  justify-content: flex-end;
}

.transaction-list {
  
  min-height: 620px;
  
}

.transaction-list > :nth-child(odd) {
  

}

.transaction-page > * {
  margin-top: 20px;
  margin-bottom: 20px;


}


.transaction-list-header {
  display: flex;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.transaction-list-header > * {
  flex: 1;
  font-weight: bold;
  
}

.sum-line {
  font-size: 36px;
  font-weight: bold;

  margin-bottom: 10px;
}

.header-text {
  font-size: 36px;
}

.negative-number {
  background: linear-gradient(to right, #F44336, #E91E63, #9C27B0); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  width: fit-content;
}

.positive-number {
  background: linear-gradient(to right, #4CAF50, #4CAF50, #00BCD4); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  width: fit-content;
}

.neutral-number {
  background: linear-gradient(to right, #8E24AA, #673AB7, #3F51B5); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  width: fit-content;
}

.category-display {
  background: linear-gradient(to right, #2196F3, #03A9F4, #00BCD4); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  width: fit-content;
}

.transaction-viewer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;

}

.transaction-add-container {
  padding: 10px;
}

.add-transaction-form-container {
  
}

.content-pane {
  display:flex;
  flex-direction: row;

}

.form-button-container {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  flex: 1;
}

/* .submit-button {
  background: #4CAF50;
}

.submit-button:hover {
  background: #388E3C;
}

.reset-button {
  background: #FFB300;
}

.reset-button:hover {
  background: #FFA000;
} */

.category-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chart-display {
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.main-chart {
  flex: 1;
}

.chart-js-container {
  height: 100%;
  width: auto;
  margin: auto;
}

.chart-js-container > *{
  height: 100%;
  width: auto;

}

.new-button {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: max-content;
  align-self: center;
  margin: 25px;
  border-radius: 50vh;;
  background: unset;
  border: unset;
  color: white;
  font-size: 24px;
  padding: 20px;
  background: linear-gradient(to right, #2196F3, #03A9F4, #00BCD4);
  display:flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(25%);
  transition: all ease-in 2s;
}

.new-button:hover {
  filter: grayscale(0%);
  transition: all ease-in 2s;
}

label {
  display: none;
}

.hidden {
  display: none;
}

.ui-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  all: unset;
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 10px;
  border-radius: 2px;
}

.ui-icon:hover {

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

button:disabled {
  opacity: 25%;
  box-shadow: none;

}

button:disabled:hover {
  box-shadow: none;

  
}

.ui-icon:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.ui-icon-toolbar {
  display: flex;
  flex-direction: row;
  
}

input, select {
  border-radius: 2px;
  padding: 10px;
  height: 100%;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input-element {
  height: 100%;
}

.ui-icon-toolbar > * {
  margin-left: 24px;
}

.tool-tip {
  position: relative;
  display: inline-block;
  background: white;
  
}

.footer-container {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 20px;
}

/* Tooltip text */
.tool-tip .tool-tip-text {
  visibility: hidden;
  font-weight: normal;
  width: 120px;
  background: #555;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  font-size: 14px;

  width: 100px;
  top: 100%;
  left: 50%;
  margin-left: -50px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool-tip:hover .tool-tip-text {
  visibility: visible;
}


.column {
  user-select: none;
  cursor: n-resize;
}

.notification-container {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.notification {
  border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  user-select: none;
  cursor: pointer;
}

.notification-success {
  background: #E8F5E9;
  color: #4CAF50;
  border: 1px solid #4CAF50;
}

.notification-failure {
  background: #FFEBEE;
  color: #F44336;
  border: 1px solid #F44336;
}